body{
        background-color: #C0D6DF;
}
a{
    text-decoration: none;
    color: rgb(7, 6, 6);
    font-size: 16px;
}
a:hover{
    color: blue;
}
nav{
    margin-top: 0px;
    display: flex;
    gap: 200px;
    justify-content: center;
    border: solid 0px;
    height:7vh;
    text-align: center;
    padding-top: 34px;
}
#main-header{
    display: flex;
}
p{
    font-size: 25px;
}
h1{
    text-align: center;
}
.website-logo{
    width: 150px;
    height: 150px;
    margin-left: 0;
}
#logo-icon{
    display: flex;
}
#summary{
    display: flex;
}
.book{
   width: 600px;
   height: 700px;
}

@media all and (min-width: 280px) and (max-width: 1240px){
   body{
        background-color: #C0D6DF;
}
a{
    text-decoration: none;
    color: rgb(7, 6, 6);
    font-size: 16px;
}
a:hover{
    color: blue;
}
nav{
    margin-top: 0px;
    display: flex;
    gap:1px;
    justify-content: center;
    border: solid 0px;
    height:7vh;
    text-align: center;
    padding-top: 34px;
}
#main-header{
    display: flex;
}
p{
    font-size: 25px;
}
h1{
    text-align: center;
}
.website-logo{
    width: 150px;
    height: 150px;
    margin-left: -7px;
}
#logo-icon{
    display: flex;
}
}
