body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: #C0D6DF;
   }
#logo-icon{
    display: flex;
    gap: 2%;
    /* margin-left: 200px; */
    gap: 8px;
    
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
#main-header{
    display: flex;
    gap: 19%;
}
.website-logo{
    width: 150px;
    height: 100px;
}

a{
    padding: 90px;
    font-size: 20px;
}
   .webpage {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 600px;
    width: 800px;
    border-radius: 50px;
    background: linear-gradient(145deg, #adc1c9, #cde5ef);
    box-shadow: 20px 20px 60px #a3b6be, -20px -20px 60px #ddf6ff;
   }
   input {
    padding: 8px;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
   }
   button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   }
   ul {
    list-style: none;
    padding: 0;
   }
   li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
   }
   .completed {
    text-decoration: line-through;
    color: #3f3d3d;
   }
   #tasks{
    height: 50px;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    width: 100%;
    position: relative;
    display: flex;
    gap: 10px;
   }
   #bornaCrime{
    border: none;
    width: 50%;
   }
   #checkbox{
    display: flex;
   }
   #view{
    padding: 10px 20px;
    border: none;
    border-radius: 10%;
    color: white;
    font-weight: 600;
   }
   .view-summary a{
    text-decoration: none;
    color: white;
   }
   .view-summary{
    width: 40%;
   }

@media screen and (max-width:480px) {
    body {
        font-family: 'Arial', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
        background-color: #C0D6DF;
       }
    #logo-icon{
        display: flex;
        gap: 2%;
        /* margin-left: 200px; */
        gap: 8px;
        
    }
    nav ul{
        list-style: none;
        display: flex;
        gap: 20px;
    }
    nav ul li a{
        text-decoration: none;
        color: black;
    }
    #main-header{
        display: flex;
        gap: 19%;
    }
    .website-logo{
        width: 150px;
        height: 100px;
    }
    
    a{
        padding: 90px;
        font-size: 20px;
    }
       .webpage {
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        height: 600px;
        width: 800px;
        border-radius: 50px;
        background: linear-gradient(145deg, #adc1c9, #cde5ef);
        box-shadow: 20px 20px 60px #a3b6be, -20px -20px 60px #ddf6ff;
       }
       input {
        padding: 8px;
        margin-right: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
       }
       button {
        padding: 8px 16px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
       }
       ul {
        list-style: none;
        padding: 0;
       }
       li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        border-bottom: 1px solid #ddd;
       }
       .completed {
        text-decoration: line-through;
        color: #3f3d3d;
       }
   }
@media screen and (min-width: 481px) and (max-width: 564px){
    body {
        font-family: 'Arial', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
        background-color: #C0D6DF;
       }
    #logo-icon{
        display: flex;
        gap: 2%;
        /* margin-left: 200px; */
        gap: 8px;
        
    }
    nav ul{
        list-style: none;
        display: flex;
        gap: 20px;
    }
    nav ul li a{
        text-decoration: none;
        color: black;
    }
    #main-header{
        display: flex;
        gap: 19%;
    }
    .website-logo{
        width: 150px;
        height: 100px;
    }
    
    a{
        padding: 90px;
        font-size: 20px;
    }
       .webpage {
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        height: 600px;
        width: 800px;
        border-radius: 50px;
        background: linear-gradient(145deg, #adc1c9, #cde5ef);
        box-shadow: 20px 20px 60px #a3b6be, -20px -20px 60px #ddf6ff;
       }
       input {
        padding: 8px;
        margin-right: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
       }
       button {
        padding: 8px 16px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
       }
       ul {
        list-style: none;
        padding: 0;
       }
       li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        border-bottom: 1px solid #ddd;
       }
       .completed {
        text-decoration: line-through;
        color: #3f3d3d;
       }
   }
@media screen and (min-width: 565px) and (max-width: 768px){
    body {
        font-family: 'Arial', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
        background-color: #C0D6DF;
       }
    #logo-icon{
        display: flex;
        gap: 2%;
        /* margin-left: 200px; */
        gap: 8px;
        
    }
    nav ul{
        list-style: none;
        display: flex;
        gap: 20px;
    }
    nav ul li a{
        text-decoration: none;
        color: black;
    }
    #main-header{
        display: flex;
        gap: 19%;
    }
    .website-logo{
        width: 150px;
        height: 100px;
    }
    
    a{
        padding: 90px;
        font-size: 20px;
    }
       .webpage {
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        height: 600px;
        width: 800px;
        border-radius: 50px;
        background: linear-gradient(145deg, #adc1c9, #cde5ef);
        box-shadow: 20px 20px 60px #a3b6be, -20px -20px 60px #ddf6ff;
       }
       input {
        padding: 8px;
        margin-right: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
       }
       button {
        padding: 8px 16px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
       }
       ul {
        list-style: none;
        padding: 0;
       }
       li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        border-bottom: 1px solid #ddd;
       }
       .completed {
        text-decoration: line-through;
        color: #3f3d3d;
       }
   }
   
@media screen and (min-width: 769px) and (max-width: 1024px){
    body {
        font-family: 'Arial', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
        background-color: #C0D6DF;
       }
    #logo-icon{
        display: flex;
        gap: 2%;
        /* margin-left: 200px; */
        gap: 8px;
        
    }
    nav ul{
        list-style: none;
        display: flex;
        gap: 20px;
    }
    nav ul li a{
        text-decoration: none;
        color: black;
    }
    #main-header{
        display: flex;
        gap: 19%;
    }
    .website-logo{
        width: 150px;
        height: 100px;
    }
    
    a{
        padding: 90px;
        font-size: 20px;
    }
       .webpage {
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        height: 600px;
        width: 800px;
        border-radius: 50px;
        background: linear-gradient(145deg, #adc1c9, #cde5ef);
        box-shadow: 20px 20px 60px #a3b6be, -20px -20px 60px #ddf6ff;
       }
       input {
        padding: 8px;
        margin-right: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
       }
       button {
        padding: 8px 16px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
       }
       ul {
        list-style: none;
        padding: 0;
       }
       li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        border-bottom: 1px solid #ddd;
       }
       .completed {
        text-decoration: line-through;
        color: #3f3d3d;
       }
   }
   
